{% extends 'main/dashboard/view_customer.html' %}
{% block div_content %}
                    <div class="card-header">
                                <i class="fa fa-align-justify"></i><strong class="card-title pl-2">Logs</strong>
                    </div>
                    <div class="card-body" style="border:1px solid #E5E5E5; background-color:white; height:80.6vh; overflow:auto;">
                        <pre style="overflow:auto; white-space:pre-wrap; font-size:12px;">
{{ log }}
                        </pre>
                     </div>
{% endblock %}

